.main {
  margin-bottom: 100px;
  margin-top: 100px;
}
.mainBanner h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
}

.mainBanner p {
  text-align: center;
  color: #fff;
}

.mainBannerButton {
  text-align: center;
  margin-top: 64px;
}

.main-faq {
  margin-top: 100px;
}
