footer {
  margin-bottom: 100px;
}

.footerNav p {
  font-weight: bold;
  color: black;
}

.footerNav a {
  text-decoration: none;
}

.footerLogo {
  display: flex;
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}
