.bgLight {
  background-color: #f1f3ff !important;
}
html {
  scrollbar-width: none;
}

/* Body -> font */
body {
  font-family: Helvetica;
  color: black;
  font-style: normal;
  font-weight: 300;
}

svg {
  color: #8a8a8a;
}

/* css global */
h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
}

.button-global {
  background-color: #5cb85f;
  border: #5cb85f;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
}
.main-whyus {
  padding-bottom: 100px;
}
.main-whyus h5 {
  margin-bottom: 16px;
  padding-top: 16px;
}

.main-whyus-items {
  margin-top: 20px;
}
.item {
  background: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 619px;
  margin-right: 32px;
  margin-bottom: 30px;
  cursor: grab;
}
.btn-primary {
  background-color: #0d28a6;
}
.intro-text {
  padding-left: 110px;
}
.HomePage {
  margin-top: 150px;
}
.search-card {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8% !important;
  font-family: "Helvetica";
  font-style: normal;
  color: #000000;
}

.search-card img {
  border-radius: 5%;
}

.search-card svg {
  margin-right: 10px;
}

.search-card span {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.search-card button {
  margin-top: -8px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  scale: 1.0002;
}

#search {
  margin-top: -90px !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-color: white !important;
  position: relative;
  z-index: 2;
}
