.headerNavbarLogo {
  background: #0d28a6;
  width: 100px;
  height: 34px;
}

.navbarToggler {
  border: none;
}

.navbarToggler:focus {
  box-shadow: none;
}
.navItem a {
  color: black;
  margin-right: 18px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
