.header {
  background-color: #f1f3ff;
  padding-top: 14px;
  position: relative;
}

.headerBanner h1 {
  margin-top: 30px;
}

.headerBanner img {
  margin-top: 1px;
  margin-right: 0;
  width: 125%;
  height: 80%;
}
